<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script defer src="{{url_for('static', filename='script.js')}}"></script>
    <title>WebSocket Webcam Capture</title>
</head>
<style>
    #video {
        transform: scaleX(-1);
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
    <div class="container">
        <h1>WebSocket Webcam Capture</h1>
        <video id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        <img id="processedImage" width="640" height="640">
        <div id="prediction" style="font-size: 48px; margin-top: 20px;"></div>
        <p id="aspectRatio"></p>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
</body>
</html>
